.nifty_desk_row{
	width: 100%;
	display: block;
}

.nifty_desk_col_1 {
	width: 8.3333%;
	display:inline-block;
}
.nifty_desk_col_2 {
	width: 16.6666%;
	display:inline-block;
}
.nifty_desk_col_3 {
	width: 25%;
	display:inline-block;
}
.nifty_desk_col_4 {
	width: 32.6666%;
	display:inline-block;
}
.nifty_desk_col_5 {
	width: 41.6666%;
	display:inline-block;
}
.nifty_desk_col_6 {
	width: 48.2222%;
	display:inline-block;
}
.nifty_desk_col_7 {
	width: 50%;
	display:inline-block;
}
.nifty_desk_col_8 {
	width: 66.6666%;
	display:inline-block;
}
.nifty_desk_col_9 {
	width: 75%;
	display:inline-block;
}
.nifty_desk_col_10 {
	width: 83.2222%;
	display:inline-block;
}
.nifty_desk_col_11 {
	width: 91.6666%;
	display:inline-block;
}
.nifty_desk_col_12 {
	width: 100%;
	display:inline-block;
}
.nifty_desk_pull_left{
	float: left;
}
.nifty_desk_pull_right{
	float: right;
}
.nifty_desk_pull_top{
	vertical-align: top;
}

.nifty_desk_text_align_left{
	text-align: left;
}

.nifty_desk_text_align_right{
	text-align: right;
}

.nifty_desk_stretch{
	width:100%;
}

.nifty_desk_button {
    padding: 10px;
    background-color: #5f5f5f;
    color: #ffffff;
    border-radius: 5px;
}

.nifty_desk_button:hover{
	color:#ffffff;
	text-decoration: none;
	background-color: #6f6f6f;
}

.nifty_desk_max_height_300{
	max-height: 300px;
	overflow: auto;
}

/* Ticket View Base Clases */

.nifty_desk_response_container{
	width:100%; 
	display:block; 
	overflow:auto;
	border-bottom: 1px dashed #d1d1d1;
}

.nifty_desk_author_container {
    width: 100%;
    display: block;
    height: 70px;
    position: relative;
}

.nifty_desk_author_avatar{
    display: inline-block;
    width: 50px;
    float: left;
    padding: 12px 0;
}

.nifty_desk_author_meta_container {
    display: inline-block;
    float: left;
    padding: 22px;
    font-size: 14px;
}

.nifty_desk_response_content {
    font-size: 14px;
}

.nifty_desk_response_content p {
    margin-left: 73px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 0;
}

.nifty_desk_notice_span {
    display: block;
    font-size: 14px;
    padding: 7px;
}

.nifty_desk_response_form_button{
	margin-top:5px;
	float:right;
	font-size:14px;
}

.nifty_desk_author_info_name{
	font-size: 14px;
	font-weight: 800;
}

.nifty_desk_author_info_email{
	font-size: 14px;
}